*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    color: white;
    width: 20rem;
    padding: 3rem;
    background-color:hwb(199 3% 64%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 20px;
}

button{
    width: 50%;
    align-self: center;
    background-color: hwb(36 0% 17%);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}